*{
    box-sizing:border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color:#242424;
    height:100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 51%, rgba(235,235,235,1) 100%);

    margin:0;
    padding:0;
}

header{
    font-size: 40px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
}

#container{
    width:80%;
    max-width:300px;
    height:200px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:70px auto 0px auto;
}

#container h2{
    text-align:center;
    font-size:47px;
    font-weight: 500;


    margin:0;
}

#time{
    width:80%;
    max-width:300px;

    display:flex;
    flex-direction: row;
    justify-content: center;

    font-weight: 100;
    margin:0 auto;
}

#time div{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;

    text-align:center;
    font-size:120px;
}

#time #point{
    width:20px;
}



#timer-choose{
    width:80%;
    max-width:300px;
    height:200px;

    margin:50px auto 0 auto;

    text-transform: uppercase;
    font-weight: 200;
}
#timer-choose #panels{
    display:grid;
    grid-template-areas: "panel-um panel-ds" "button button";

}
    #panel-um{ grid-area:panel-um;}
    #panel-ds{ grid-area:panel-ds;}

#panels .panel-num{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;

    max-width:280px;
    width:80%;
}

.panel-num h4{
    font-size:14px;
}

.down, .up{
    width:78px;
    height:20px;
    background: rgb(204,204,204);
    background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(196,196,196,1) 100%);
}
    .down:hover,
    .up:hover{
        cursor: pointer;
    }

#minutes, #rest{
    background-color:#242424;
    width:78px;
    height:80px;
    color:white;
    font-size:60px;
    text-align:center;
    background: radial-gradient(circle, rgba(85,85,85,1) 0%, rgba(36,36,36,1) 100%);
}

#ok{
    margin:0 auto;
    justify-self: auto;
    width:80px;
    height:30px;

    grid-area: button;

    font-weight: 700;
    background-color: transparent;
    color:#242424;

    outline: none;

    border: none;

    font-size:14px;
}

    button:hover{
        cursor:pointer;
    }

#control{
    width:inherit;
    max-width:inherit;
    height:35px;
    position:fixed;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#control .controlB{
    width:80px;
    height:inherit;

    font-weight: 600;
    border-radius: 5px;

    border-color:transparent;
    outline: none;

    color:white;
}

    #pause{
        background-color:rgba(46,92,196,1) ;
    }

    #stop{
        background-color: #c42e2e;
    }

    #reset{
        background-color: #c8c1c1;
    }

#control .controlB:hover{
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.20);
}